---
import WhatsApp from './icons/WhatsApp.astro'
---

<section class='flex flex-col items-center gap-12 py-16'>
  <h2 class='text-center text-4xl font-semibold tracking-wider text-primary'>
    CONFIRMACIÓN DE ASISTENCIA
  </h2>

  <div class='flex flex-col items-center'>
    <p class='text-center text-2xl font-light'>
      Confirmá tu asistencia a través de WhatsApp.
    </p>
  </div>

  <span class='flex gap-2 md:gap-4'>
    <a
      href='https://wa.me/+5493571557020'
      class='flex items-center gap-2 rounded-full bg-primary px-8 py-2 text-lg text-white transition-opacity ease-in-out hover:opacity-85 md:px-10 md:text-xl'
      target='_blank'
    >
      <WhatsApp class='size-6 stroke-white md:size-8' />
      LOURDES
    </a>
    <a
      href='https://wa.me/+5493571608147'
      class='flex items-center gap-2 rounded-full bg-primary px-8 py-2 text-lg text-white transition-opacity ease-in-out hover:opacity-85 md:px-10 md:text-xl'
      target='_blank'
    >
      <WhatsApp class='size-6 stroke-white md:size-8' />
      MARISA
    </a>
  </span>
</section>
