<section
  class='flex items-center justify-center bg-primary py-6 text-lg text-white'
>
  <img
    src='/butterfly.webp'
    alt='butterfly'
    id='left'
    class='rotate size-16'
  />
  <div class='flex w-[500px] flex-col items-center'>
    <p>Faltan:</p>
    <div
      class='text-2xl font-semibold tracking-wide'
      id='countdown'
    >
    </div>
  </div>
  <img
    src='/butterfly.webp'
    alt='butterfly'
    id='right'
    class='rotate size-16'
  />
</section>

<style>
  #left {
    transform: scaleX(-1);
  }
</style>

<script>
  const countdown = document.getElementById('countdown') as HTMLDivElement
  const goalDate = new Date('2024-05-31T21:30:00').getTime()

  function updateCountdown() {
    const actualDate = new Date().getTime()
    const difference = goalDate - actualDate

    const data = {
      days: Math.floor(difference / (1000 * 60 * 60 * 24)),
      hours: Math.floor(
        (difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
      ),
      minutes: Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60)),
      seconds: Math.floor((difference % (1000 * 60)) / 1000)
    }

    if (difference >= 0) {
      const dateText = `${data.days} Días, ${data.hours}hs, ${data.minutes}m, ${data.seconds}s`
      countdown.innerHTML = dateText
      requestAnimationFrame(updateCountdown)
    } else {
      countdown.innerHTML = '¡Es el día!'
    }
  }

  updateCountdown()
</script>
