<footer class='flex justify-center bg-[#212121] py-2'>
  <p class='mt-1 text-xl text-white'>
    Hecho por
    <a
      href='https://facucarrion.netlify.app'
      class='font-medium underline'
    >
      Facu Carrion
    </a>
  </p>
</footer>
