<section class='relative my-8 flex flex-col items-center justify-center'>
  <div
    class='row-auto grid w-full grid-cols-2 gap-6 md:max-w-[1200px] md:grid-cols-4 md:grid-rows-2'
  >
    <img src='/gallery/1.webp' />
    <img src='/gallery/2.webp' />
    <img src='/gallery/3.webp' />
    <img src='/gallery/4.webp' />
    <img src='/gallery/5.webp' />
    <img src='/gallery/6.webp' />
    <img src='/gallery/7.webp' />
    <img src='/gallery/8.webp' />
  </div>
</section>
