---
import InstagramIcon from './icons/Instagram.astro'
---

<section class='flex flex-col items-center gap-12 py-16'>
  <InstagramIcon class='size-20 stroke-white' />
  <h2 class='text-2xl font-medium text-white'>@sofi_comb</h2>

  <div class='flex flex-col items-center gap-2 text-white sm:gap-0'>
    <p class='text-xl font-light md:text-2xl'>
      ¡Preparate para esta gran fiesta!
    </p>
    <p class='text-center text-xl font-light md:text-2xl'>
      Seguime en mi cuenta de Instagram y etiquetame en tus fotos y videos.
    </p>
  </div>

  <a
    href="https://www.instagram.com/sofi_comb?igsh=NWhvaHRoa3FwbzZs'"
    class='flex items-center gap-2 rounded-full bg-primary px-8 py-2 text-lg text-white transition-opacity ease-in-out hover:opacity-85 md:px-10 md:text-xl'
    target='_blank'
  >
    VER INSTAGRAM
  </a>
</section>

<style>
  section {
    background-image: url('/party.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
