<section class='flex flex-col items-center gap-12 py-16'>
  <img
    src='/date.webp'
    alt='informacion fiesta dorado'
    class='w-full md:h-[450px] md:w-auto'
  />

  <a
    href='https://maps.app.goo.gl/k6mukjb5fBuu9vNdA'
    class='rounded-full bg-primary px-8 py-2 text-xl text-white transition-opacity ease-in-out hover:opacity-85 md:px-10 md:text-xl'
  >
    CÓMO LLEGAR
  </a>
</section>
