<section
  class='flex flex-col items-center gap-2 bg-primary py-12 text-lg text-white'
>
  <p class='mt-2 text-5xl md:text-[4rem]'>Gracias por acompañarme!</p>
</section>

<style>
  p {
    font-family: 'Yustine Signature', sans-serif;
    font-weight: light;
  }
</style>
